/* dark-neumorphic.css */

body {
    background-color: #1a1a1a;
    color: #ffffff;
}

.carte-combattant {
    background-color: #2c2c2c;
    color: #ffffff;
    border-radius: 12px;
    box-shadow: 8px 8px 16px #0d0d0d, -8px -8px 16px #404040;
    transition: transform 0.3s ease-in-out;
}

.carte-combattant:hover {
    transform: scale(1.05);
}
