/* Animation pour les réseaux sociaux */
.social-icon {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.social-icon-show {
    opacity: 1;
    transform: translateY(0);
}
