/* Styles pour le header */
#site-header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Styles pour le logo */
#site-header .text-2xl {
    font-size: 2rem;
}

/* Styles pour les liens de navigation */
.nav-link {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #007BFF;
}
