/* index.css */

/* Styles spécifiques à la page d'accueil */

body.dark-theme {
    background-color: #333;
    color: #fff;
}

/* Styles pour l'animation du texte "MONSTRE-F.C" */
#global {
    text-align: center;
    margin-top: 7%;
}

#anim {
    font-size: 60px;
    font-weight: bold;
    color: #007BFF;
}

#anim span {
    display: inline-block;
    transform-origin: 50% 50%;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Styles pour le bouton "Tuer nathael" */
#btn-rank {
    text-align: center;
    margin-top: 20px;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Styles pour la section des événements à venir */
section {
    padding: 20px 0;
    background-color: #333;
}

/* Styles pour la liste des événements */
.grid {
    margin-top: 20px;
}

/* Styles pour les cartes d'événements */
.bg-white {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease-in-out;
}

.bg-white:hover {
    transform: translateY(-5px);
}

/* Styles pour les titres d'événements */
.text-xl {
    font-size: 1.5rem;
}

/* Styles pour les liens de réservation */
.text-blue-600 {
    color: #007BFF;
}

.text-blue-600:hover {
    text-decoration: underline;
}
